// Import page-specific CSS files here.
@import "home";

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #E5E5E5;
}

.filters ul li i {
  color: white;
}

.filters .icons {
  padding-top: 20px;
  color: white;
}
