.profiles {
  display: flex;
}

.profile-tab-group {
  margin: 40px;
}

// .tab-container {
//   padding-top: 30px;
// }

ul.nav-tabs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #f4c36c;
}

ul.nav-tabs li {
  display: inline-block;
  border-bottom: 1px solid #f4c36c;

}

ul.nav-tabs li:hover {
  cursor: pointer;
  background-color: rgba(244, 195, 108, 0.2);
}

.past-bookings-content {
  text-align: left;
  margin-top: 40px;
}

.active-bookings-content {
  text-align: left;
  margin-top: 40px;
}

.notification-heading {
  text-align: left;
  margin-top: 40px;
}

// .tab-pane-active #tab-1 {
//   background-color: rgba(244, 195, 108, 0.2);
// }
