.profiles {
  display: flex;
}

.profile-tab-group {
  margin: 40px;
}

.tab-container {
  padding-top: 30px;
}

ul.nav-tabs {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.nav-tabs li {
  display: inline-block;
}

ul.nav-tabs li:hover {
  border: none;
}
