<<<<<<< HEAD
<footer class="footer">

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    We ♻️ our 🧻 at LeWagon
  </div>

</footer>
=======
<div class="footer" style="display: flex; position: fixed; bottom: 0; margin-top: 50px; margin-bottom: 50px; margin-left: 50px">
   
  <div class="footer-links" style="margin-right: 950px">

    <div class="footer-links">

      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      We  ♻️ our  🧻 at Le Wagon
    </div>

</div>
>>>>>>> 348c96d4b854c52f92d2634f7acddacff7bc377e
