<footer>

  <div class="footer" style="display: flex; justify-content: space-between; margin-top: 50px">

    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> at Le Wagon
    </div>

  </div>

</footer>
