<div class="tab-container">
  <div class="my-toilets-content">
    <h3>My Notifications</h3>
    <% if current_user.bookings.empty? %>
      <p>You don't have any notifications.</p>
    <% else %>
      <% current_user.bookings.each do |booking| %>
        <div class="review-card">
          <% if booking.user_id == current_user.id %>
              <div class="review-card-content">
                <h5>You visited <%= booking.toilet.name %></h5>
                <p>How was it?</p>
              </div>
          <% else %>
            <div class="review-card-content">
              <h5>Someone has booked to visit your toilet!</h5>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

