<div class="tab-container">
  <div class="my-toilets-content">
    <% if current_user.bookings.empty? %>
      <h3>You don't have any notifications.</h3>
    <% else %>
      <div class="notification-heading">
        <h5>Pending notifications:</h5>
      </div>
      <% current_user.bookings.each do |booking| %>
        <div class="review-card">
          <% if booking.user_id == current_user.id %>
              <div class="review-card-content">
                <div style="margin-left: 30px; margin-top: 20px">
                  <i class="fas fa-bell" style="font-size: 36px; color: #F76D9F"></i>
                </div>
                <div style="margin-left: 30px; margin-top: 15px">
                  <h5>You visited <%= booking.toilet.name %></h5>
                  <div style="display: flex">
                    <p style="margin-right: 5px">How was it?</p>
                    <p><a href="" style="color: #7B7B7B">Add a review</a></p>
                  </div>
                </div>
              </div>
          <% else %>
            <div class="review-card-content">
              <h5>Someone has booked to visit your toilet!</h5>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

