<div class="hero home-content">

  <div class="home-form">

    <h2 style="margin-bottom: 45px">Find the perfect loo, near you</h2>

    <div style="margin-bottom: 15px">
      <p>Where?</p>
    </div>

      <div class="searchBar">

        <%= render './toilets/login_form' %>

<!--         <div>
          <input class="form-control" id="address" type="text" style="margin-bottom: 25px" required>
        </div>

        <div>
          <a href="/toilets">
            <button class="btn-submit" id="loo-searcher" type="submit" style="text-decoration-style: none; width: 100%">
              <strong>Find a loo!</strong>
            </button>
          </a>
        </div> -->

      </div>
  </div>


</div>

  <div class="toilet-cards">

    <h2 style="margin-bottom: 25px">Our suggestions</h2>

    <div class="row">

      <% @toilets.sample(8).each do |toilet| %>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <%= link_to toilet_path(toilet) do %>
            <div class="card toilet-card">
              <div class="toilet-img" style="background-image: url(<%= photo_or_placeholder(toilet) %>)"></div>
              <div class="card-content">
                <h5><%= toilet.name %></h5>
                <ul class="stars stars-sm">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>

<div>

<!-- <div class="footer" style="display: flex; justify-content: space-between; margin-top: 50px">

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>

</div> -->

</div>
