<div class="hero home-content">

  <div class="card" style="margin-top: 125px; padding-top: 45px; padding-left: 30px; padding-bottom: 30px; padding-right: 30px; width: 370px; height: 360px">
    <h2 style="margin-bottom: 45px">Find the perfect loo, near you</h2>
    <div style="margin-bottom: 15px">
      <p>Where?</p>
    </div>


<!--     <form action="/toilets" method="post" class="form">
      <div class="form-group">
        <input class="form-control" id="address" type="text" required></div>
        <%#= link_to 'Find a loo!', toilets_path, class: 'btn-submit' %>
      </div>
    </form>
  </div> -->

  <%= render './toilets/login_form' %>

<!--   <div class="search-form">
        <h1>Find the perfect loo, near you</h1>
        <form action="/toilets">
          <input type="text">
          <input type="submit" class="btn-submit">

        </form>
      </div>
 -->
</div>
