
<div class="hero home-content">

<!--   <div class="card" style="margin-top: 125px; padding-top: 45px; padding-left: 30px; padding-bottom: 30px; padding-right: 30px; width: 370px; height: 360px">
    <h2 style="margin-bottom: 45px">Find the perfect loo, near you</h2>
    <div style="margin-bottom: 15px">
      <p>Where?</p>
    </div>
    <form action="" method="" class="form">
      <div class="searchBar">
        <div><input class="form-control" id="address" type="text" style="margin-bottom: 25px" required></div>
        <div><a href="/toilets"><button class="btn-submit" id="loo-searcher" type="submit" style="text-decoration-style: none; width: 100%"><strong>Find a loo!</strong></button></a></div>
      </div>
    </form>
  </div>
 -->
  <div class="search-form">
    <h1>Find the perfect loo, near you</h1>
    <form action="/toilets">
      <input type="text">
      <input type="submit" class="btn-submit">

    </form>
  </div>

</div>
