<!-- <div class="navbar">
  <div class="logo"></div>
  <ul>
    <li>sign up</li>
    <li>log in</li>
  </ul>
</div> -->

<div class="container">
  <div class="row">
    <div class="card toilet-card">
      <div class="toilet-img" style="background-image: url('https://images.unsplash.com/photo-1566838318343-8ef19f4e82b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')"></div>
      <div class="card-content">
        <h5>Best View in Alfalma</h5>
        <ul class="stars stars-sm">
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>H1 text</h1>
  <h2>H2 text</h2>
  <h3>H3 text</h3>
  <h4>H4 text</h4>
  <h5>h5 text</h5>
  <h6>h6 text</h6>
  <p>paragraph text</p>
  <p class="fine-m-text">I am fine-m text</p>
  <p class="fine-sm-text">I am fine-sm text</p>
</div>

<div class="container">
  <ul class="stars stars-lg">
    <li><i class="fas fa-star"></i></li>
    <li><i class="fas fa-star"></i></li>
    <li><i class="fas fa-star"></i></li>
    <li><i class="fas fa-star"></i></li>
  </ul>
</div>


<div class="container">
  <ul class="icons icons-vertical">
    <li><i class="fas fa-book"></i></li>
    <li><i class="fas fa-image"></i></li>
    <li><i class="fas fa-music"></i></li>
    <li><i class="fas fa-thermometer-half"></i></li>
    <li><i class="fas fa-wifi"></i></li>
    <li></li>
  </ul>
</div>

<div class="container">
  <ul class="icons icons-horizontal">
    <li><i class="fas fa-book"></i></li>
    <li><i class="fas fa-image"></i></li>
    <li><i class="fas fa-music"></i></li>
    <li><i class="fas fa-thermometer-half"></i></li>
    <li><i class="fas fa-wifi"></i></li>
    <li></li>
  </ul>
</div>


<div class="container">
  <div class="btn">my button</div>

</div>
