<div class="container">
  <div class="edit-toilet-details">
    <h1><%= @toilet.name %></h1>
    <%=  cl_image_tag @toilet.photo, height: 300, width: 500, crop: :fill %>
  </div>


  <%= render 'edit_toilet_form' %>
  </div>
</div>
