.btn-submit {
  width: 250px;
  padding: 10px;
  background-color: #C4C4C4;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.btn-submit:hover {
  color: white;
  background-color: #7b7b7b;
}

.btn-green {
  background-color: #63C288;
}

.btn-green:hover {
  background-color: #418059;
}
