.btn-submit {
  width: 250px;
  padding: 10px;
  background-color: #f4c36c;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.btn-submit:hover {
  color: white;
  background-color: #e5a930;
}

.btn-green {
  background-color: #63C288;
}

.btn-green:hover {
  background-color: #418059;
}


.btn-cancel {
  background-color: #418059;
}

.btn-cancel:hover {
  background-color: #63C288;
}
