// T O I L E T    C A R D
.card {
  width: 250px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.card .toilet-img {
  background-size: cover;
  background-repeat: none;
  background-position: bottom;
  width: 250px;
  height: 250px;
}

.card .card-content {
  padding: 15px 0px 0px 10px;
}

.card h4 {
  padding-top: 10px;
}

// P R O F I L E
// T O I L E T
// C A R D

.my-toilets-content h3 {
  text-align: center;
}

.my-toilets-content {
  text-align: right;
  width: 900px;
  margin: 0px auto;
}

.my-toilet-card {
  margin-top: 30px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.my-toilet-card-actions {
  text-align: right;
  padding: 15px;
}

.my-toilet-card-details {
  text-align: left;
  padding: 15px;
  width: 600px;
}


// P R O F I L E
// B O O K I N G
// C A R D

.my-booking-content {
  text-align: right;
  width: 900px;
  margin: 0px auto;
}

.my-booking-card {
  height: 100px;
  margin-top: 30px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.my-booking-card-actions {
  display: flex;
  align-items: center;
  text-align: right;
  padding: 15px;
  width: 200px;
}

.my-booking-card-details {
  text-align: left;
  padding: 15px;
  width: 500px;
}

.my-booking-card-details p {
  margin: 0px;
}
