// T O I L E T    C A R D
.card {
  width: 250px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.card .toilet-img {
  background-size: cover;
  background-repeat: none;
  background-position: bottom;
  width: 250px;
  height: 250px;
}

.card .card-content {
  padding: 15px 0px 0px 10px;
}

.card h4 {
  padding-top: 10px;
}

