.footer {
  // display: flex;
  // justify-content: space-between;
  // margin-top: 50px;

  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // margin-top: 50px;
  background-color: #f4c36c;
  color: white;
}
