// #form {
//   width: 350px;
// }

.input-field {
  margin-bottom: 25px;
}

.form-h2 {
  margin-bottom: 50px;
  text-align: center;
}

#form-cta {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;
}

.row {
  margin: auto;
  padding-bottom: 10px;
}
