.navbar-lewagon {
  justify-content: space-between;
  background-color: #f4c36c;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white;
}

.navbar h2 {
  color: white;
  padding-top: 5px;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

.dropdown-toggle {
  background-color: #f4c36c;
  color: white;
}

.dropdown-menu {
  background-color: #f4c36c;
  color: white;
  width: 250px;
}

.logo {
  display: flex;
  margin-left: 15px;
  text-align: center;
  color: white;

  h4 {
  align-self: flex-end;
  margin-left: 10px;
  }
}
