.navbar-lewagon {
  justify-content: space-between;
  background: #7b7b7b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white;
}

.navbar h2 {
  color: white;
  padding-top: 5px;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

.dropdown-toggle {
  background-color: #7b7b7b;
  color: white;
}

.dropdown-menu {
  background-color: #7b7b7b;
  color: white;
  width: 250px;
}

