.profile-oneoutof-three {
  display: flex;
  background: white;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
  height: 50px;
  width: 180px;
  margin-right: 5px;
  text-align: left;
  padding: 15px;
  padding-left: 15px;
  flex-direction: column-reverse;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
