.review-card {
  height: 100px;
  width: 900px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: thin;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.review-card-content {
  width: 100%;
  display: block;
  margin: 15px;
}

.review-card-headings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-card img {
  display: absolute;
  width: 65px;
  height: 65px;
  margin: 20px;
}
