.review-card {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
  background-size: cover;
  background-position: center;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.review-card-content {
  width: 100%;
}

.review-card-headings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-card img {
  display: absolute;
  width: 65px;
  height: 65px;
  margin: 20px;
}
